.imgbox{
	box-sizing: border-box;
	border: 3px solid #fff;
	position: absolute;
	img {
		width: 100%;
		display: block;
	}
}

.root {
	height: 100%;
	width: 100%;
}

.list {
	position: absolute;
	top: 3.6rem;
	left: 0rem;
	right: 0rem;
	bottom: 0rem;
}

.loading {
	position: absolute;
	background-color: #fff;
	width: 100%;
	height: 4rem;
	line-height: 4rem;
	font-size: 0.8rem;
	color: #888;
	z-index: 1000000;
	text-align: center;

	img {
		height: 2rem;
		margin-top: 1rem;
	}
}

.backToTop {
	background-color: red;
	position: absolute;
	right: 1rem;
	bottom: 1rem;
}

.checked {
	color: $spec-green;
}

.checked:hover {
	color: red;
}
