.imgbox{
	position: absolute;
	img {
		width: 100%;
		display: block;
	}
}

.root {
	height: 100%;
	width: 100%;
}

.list {
	position: absolute;
	top: 3.6rem;
	left: 0rem;
	right: 0rem;
	bottom: 0rem;
}

.loading {
	position: absolute;
	background-color: #f1f4f8;
	width: 100%;
	height: 4rem;
	line-height: 4rem;
	font-size: 0.8rem;
	color: #888;
	z-index: 1000000;
	text-align: center;

	img {
		height: 2rem;
		margin-top: 1rem;
	}
}

.backToTop {
	background-color: red;
	position: absolute;
	right: 1rem;
	bottom: 1rem;
}

.checked {
	color: $spec-green;
}

.checked:hover {
	color: red;
}

.menu {
	position: absolute;
	top: 3.5rem;
	z-index: 10;
	right: 0.5rem;
	left: 0.5rem;
	background-color: #00b67b;
	border-radius: 0 0 0.5rem 0.5rem;
	color: #fff;
	overflow: hidden;
	li{
		height: 3rem;
		line-height: 3rem;
		border-top: 1px solid #0cda97;
		border-bottom: 1px solid #039263;
	}
	li:first-child {
		border-top: none;
	}
	li:last-child {
		border-bottom: none;
	}
}

.filter {
	li{
		height: 3rem;
		line-height: 3rem;
	}
}
