.imgbox{
	position: absolute;
	img {
		width: 100%;
		height: 100%;
		display: block;
	}
}

.root {
	height: 100%;
	width: 100%;
}

.list {
	position: absolute;
	top: 3.6rem;
	left: 0rem;
	right: 0rem;
	bottom: 0rem;
}

.loading {
	position: absolute;
	width: 100%;
	height: 4rem;
	line-height: 4rem;
	font-size: 0.8rem;
	color: #888;
	z-index: 10;
	text-align: center;

	img {
		height: 2rem;
		margin-top: 1rem;
	}
}

.backToTop {
	background-color: red;
	position: absolute;
	right: 1rem;
	bottom: 1rem;
}

.checked {
	color: $spec-green;
}

.checked:hover {
	color: red;
}

.menu {
	position: absolute;
	right: 0rem;
	left: 0rem;
	bottom: 0;

	ul {
		background-color: #00b67b;
		border-radius: 0 0 0.5rem 0.5rem;
		color: #fff;
		overflow: hidden;
		position: relative;
		z-index: 2
	}
	li{
		height: 4rem;
		line-height: 4rem;
		border-top: 1px solid #0cda97;
		border-bottom: 1px solid #039263;
		font-size: 1.2rem;
	}
	li:first-child {
		border-top: none;
	}
	li:last-child {
		border-bottom: none;
	}

	.over {
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		right: 0;
		z-index: 1;
	}
}

.filter {
	li{
		height: 3rem;
		line-height: 3rem;
	}
}

.findbymodelidbox {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	overflow: hidden;
	z-index: 1000;
}

.findbymodelid {
	background-color: #fff;
	border-top: 1px solid #eee;
	left: 0;
	right: 0;
	top: 3.5rem;
	bottom: 0rem;
	position: absolute;
	overflow: auto;
	-webkit-overflow-scrolling : touch;
}

.fbmbox {
	background-color: #00b67b;
	min-height: 100%;
	li {
		height: 7.5rem;
		border-top: 1px solid #0cda97;
		border-bottom: 1px solid #039263;
		position: relative;

		img {
			height: 6rem;
			border: 3px solid #fff;
			background: #fff;
			display: inline-block;
			margin: 0.5rem 0.5rem 0.5rem 1rem;
		}

		.checkbox {
			position: absolute;
			right: 1rem;
			top: 3rem;
			font-size: 1.2rem;
			width: 2rem;
			height: 2rem;
			color: #00885c;
			&.select {
				color: #fff;
			}
		}

	}
	li:first-child {
		border-top: none;
	}
	li:last-child {
		border-bottom: none;
	}
}

.dock {
	position: absolute;
	background-color: #fff;
	top: 0;
	height: 3.5rem;
	line-height: 3.5rem;
	font-size: 1rem;
	text-align: center;
	left: 0;
	right: 0;
}
