.view {
	width: 100%;
	height: 100%;
	background-color: $gray-darkest;
	text-align: center;
	vertical-align: middle;
	border: none;
	border-radius: 0;
	position: absolute;
	left:0;
	top:0;
	img {
	}
}

.timer {
	background-color: rgba(25, 25, 25, 0.5);
	position: absolute;
	z-index: 10;
	padding: 0.5rem;
	border: none;
	border-radius: 1rem;
	color: $gray-light;
	bottom: 0.5rem;
	width: 6rem;
	left: 50%;
	margin-left: -3rem;
	height: 1.2rem;
	line-height: 1.2rem;
}

.pic {
	background-color: rgba(25, 25, 25, 0.5);
	position: absolute;
	z-index: 10;
	padding: 0.5rem;
	border-radius: 1.2rem;
	border: none;
	color: $gray;
	top: 0.5rem;
	right: 0.5rem;
	height: 1.2rem;
	width: 1.2rem;
}

.backhome {
	background-color: rgba(25, 25, 25, 0.5);
	position: absolute;
	z-index: 10;
	padding: 0.5rem;
	border-radius: 1.2rem;
	border: none;
	color: $gray;
	top: 0.5rem;
	left: 0.5rem;
	height: 1.2rem;
	width: 1.2rem;
}

.timerred {
	color: $red;
}


.iconlayout {
	margin-top: 5%;
}

.icon {
	font-size: 2rem;
}

.bottombtn {
	bottom: 10%;
	width: 100%;
}

.lh3 {
	line-height: 2.5rem;
	color: #aaa;
}
